@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tz1t1b');
  src:  url('fonts/icomoon.eot?tz1t1b#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tz1t1b') format('truetype'),
    url('fonts/icomoon.woff?tz1t1b') format('woff'),
    url('fonts/icomoon.svg?tz1t1b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-double_down:before {
  content: "\e90f";
}
.icon-arrow-double_left:before {
  content: "\e927";
}
.icon-arrow-double_right:before {
  content: "\e929";
}
.icon-arrow-double_up:before {
  content: "\e92a";
}
.icon-calendar:before {
  content: "\e92b";
}
.icon-checkbox:before {
  content: "\e92c";
}
.icon-checkbox_marked:before {
  content: "\e92d";
}
.icon-edit:before {
  content: "\e92e";
}
.icon-facebook:before {
  content: "\e92f";
}
.icon-gpp_good:before {
  content: "\e930";
}
.icon-instagram:before {
  content: "\e931";
}
.icon-iokassa:before {
  content: "\e932";
}
.icon-iomoney:before {
  content: "\e933";
}
.icon-mastercard:before {
  content: "\e934";
}
.icon-mir:before {
  content: "\e935";
}
.icon-notification:before {
  content: "\e936";
}
.icon-odnoklassniki:before {
  content: "\e937";
}
.icon-phone_border:before {
  content: "\e938";
}
.icon-qiwi:before {
  content: "\e939";
}
.icon-sber:before {
  content: "\e93a";
}
.icon-skype:before {
  content: "\e93b";
}
.icon-telegram:before {
  content: "\e93c";
}
.icon-tiktok:before {
  content: "\e93d";
}
.icon-twitter:before {
  content: "\e93e";
}
.icon-viber:before {
  content: "\e93f";
}
.icon-visa:before {
  content: "\e940";
}
.icon-vk:before {
  content: "\e941";
}
.icon-walletone:before {
  content: "\e942";
}
.icon-webmoney:before {
  content: "\e943";
}
.icon-whatsapp:before {
  content: "\e944";
}
.icon-youtube:before {
  content: "\e945";
}
.icon-home:before {
  content: "\e928";
}
.icon-arrow_down:before {
  content: "\e900";
}
.icon-arrow_left:before {
  content: "\e901";
}
.icon-arrow_right:before {
  content: "\e902";
}
.icon-arrow_up:before {
  content: "\e903";
}
.icon-cart:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e906";
}
.icon-chevron_down:before {
  content: "\e907";
}
.icon-chevron_left:before {
  content: "\e908";
}
.icon-chevron_right:before {
  content: "\e909";
}
.icon-chevron_up:before {
  content: "\e90a";
}
.icon-close:before {
  content: "\e90b";
}
.icon-compare:before {
  content: "\e90c";
}
.icon-favorites:before {
  content: "\e90d";
}
.icon-filter:before {
  content: "\e90e";
}
.icon-location:before {
  content: "\e910";
}
.icon-lock:before {
  content: "\e911";
}
.icon-lock_open:before {
  content: "\e912";
}
.icon-mail:before {
  content: "\e913";
}
.icon-menu:before {
  content: "\e914";
}
.icon-menu2:before {
  content: "\e915";
}
.icon-minus:before {
  content: "\e916";
}
.icon-notifications:before {
  content: "\e917";
}
.icon-person:before {
  content: "\e918";
}
.icon-phone:before {
  content: "\e919";
}
.icon-plus:before {
  content: "\e91a";
}
.icon-refresh:before {
  content: "\e91b";
}
.icon-reload:before {
  content: "\e91c";
}
.icon-schedule:before {
  content: "\e91d";
}
.icon-search:before {
  content: "\e91e";
}
.icon-star:before {
  content: "\e91f";
}
.icon-thumb_down:before {
  content: "\e920";
}
.icon-thumb_up:before {
  content: "\e921";
}
.icon-view_grid:before {
  content: "\e922";
}
.icon-view_list:before {
  content: "\e923";
}
.icon-visibility:before {
  content: "\e924";
}
.icon-visibility_off:before {
  content: "\e925";
}
.icon-warning:before {
  content: "\e926";
}
