/**************************************/
/*** Основные переменные шаблона ***/
/**************************************/
:root {
	--color-black: #242037;
	--color-white: #ffffff;
	--color-gray: #575757;
	--color-lightgray: #C4C4C4;
	--color-border: #575757;
	--color-red: #E83B35;
	--color-primary: #FC3F91;
	--color-secondary: #1CA89D;
	--color-tertiary: #FFEEEA;
	--color-quaternary: #0197F6;
	--color-shadow: rgba(0, 0, 0, .1);
	--ease3: all 0.3s ease;
}


/**************************************/
/*** Основные стили ***/
/**************************************/
html {font-size: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-webkit-font-smoothing: antialiased;}
body {line-height: 1;font-size: 14px;font-weight: 400;position: relative;overflow-x: hidden;margin: 0;padding: 0;}

/*** Основной контейнер ***/
*, *:before, *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.container {margin-right: auto;margin-left: auto;padding-left: 16px;padding-right: 16px;}
.container:before, .container:after {display: table;line-height: 0;content: '';}
.container:after {display: block;content: '.';clear: both;font-size: 0;line-height: 0;height: 0;overflow: hidden;}
.row {margin-left: -16px;margin-right: -16px;}
.row:before, .row:after {content: ' ';display: table;}
.row-small {margin-left: -.8px;margin-right: -.8px;}
.row-small:before, .row-small:after {content: ' ';display: table;}


/**************************************/
/*** Флекс боксы ***/
/**************************************/
.flex {display: -ms-flexbox;display: -webkit-flex;display: flex;-ms-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-align: center;-webkit-align-items: center;-webkit-box-align: center;align-items: center;}
.flex-start {display: -ms-flexbox;display: -webkit-flex;display: flex;-ms-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-align: flex-start;-webkit-align-items: flex-start;-webkit-box-align: flex-start;align-items: flex-start;-webkit-justify-content: flex-start;justify-content: flex-start;}
.flex-center {display: -ms-flexbox;display: -webkit-flex;display: flex;-ms-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-align: center;-webkit-align-items: center;-webkit-box-align: center;align-items: center;-webkit-justify-content: center;justify-content: center;}
.flex-stretch {display: -ms-flexbox;display: -webkit-flex;display: flex;-ms-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-align: stretch;-webkit-align-items: stretch;-webkit-box-align: stretch;align-items: stretch;}
.justify-center {-webkit-justify-content: center;justify-content: center;}
.justify-between {-webkit-justify-content: space-between;justify-content: space-between;}


/**************************************/
/*** Вспомогательные элементы ***/
/**************************************/
a {text-decoration: none;transition: all 0.3s ease;}
a:hover, a.is-actived, a.is-added {text-decoration: none;cursor: pointer;}
img {max-width: 100%;max-height: 100%;width: auto;}
.IE img {width: 100%;height: 100%;border: 0;}
p {margin: 0 0 16px 0;line-height: 1.5;overflow: hidden;}
.unstyled {margin: 0;padding: 0;list-style: none;}
.htmlDataBlock {line-height: 1.5;overflow: hidden;}
.loading {overflow: hidden;white-space: nowrap;}
.bold {font-weight: bold;}
.disc li {line-height: 1.5;}
.mask {overflow: hidden;mask-image: linear-gradient(to bottom, black 50%, transparent 90%);}


/**************************************/
/*** Видимость элементов ***/
/**************************************/
.is-show {display: block;}
.is-hide {display: none;}
.is-visible {opacity: 1;visibility: visible;}
.is-hidden {opacity: 0;visibility: hidden;}


/**************************************/
/*** Заголовки ***/
/**************************************/
h1, h2, h3, h4, h5, h6 {text-rendering: optimizelegibility;text-transform: none;line-height: 1.5;margin: 0;padding: 0;font-weight: bold;}
h1 {font-size: 32px;}
h2 {font-size: 28px;}
h3 {font-size: 24px;}
h4 {font-size: 20px;}
h5 {font-size: 16px;}
h6 {font-size: 14px;}


/**************************************/
/*** Уведомления. Системные сообщения ***/
/**************************************/
.notice {width: 100%;margin-bottom: 32px;padding: 12px 20px;font-size: 16px;line-height: 1.25;overflow: hidden;position: relative;display: block;}
.notice.success {background-color: #dff0d8;color: #3c763d;border-color: #d6e9c6;}
.notice.warning {background-color: #f2dede;color: #a94442;border-color: #ebccd1;}
.notice.attention {background-color: #fcf8e3;color: #8a6d3b;border-color: #faebcc;}
.notice.information {background-color: #d9edf7;color: #31708f;border-color: #bce8f1;}
.notice a {color: inherit;font-weight: 600;text-decoration: underline;display: inline;}


/**************************************/
/*** Оверлей. Темный фон ***/
/**************************************/
#overlay {position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 10;opacity: 0;filter: alpha(opacity=0);visibility: hidden;background-color: transparent;-webkit-transition: opacity .25s ease,visibility 0s ease .25s;transition: opacity .25s ease,visibility 0s ease .25s;}
#overlay.transparent {background-color: rgba(0, 0, 0, 0.5);}
#overlay.is-opened {opacity: 1;filter: alpha(opacity=100);visibility: visible;-webkit-transition: opacity .25s ease,visibility 0s ease;transition: opacity .25s ease,visibility 0s ease;cursor: pointer;}


/**************************************/
/*** Предзагрузчик ***/
/**************************************/
.preloader {background: var(--color-white);position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 20;display: flex;align-items: center;-webkit-justify-content: center;justify-content: center;}
.preloader .preloading {display: inline-block;width: 80px;height: 80px;transition: all 0.3s ease;}
.preloader .preloading:after {content: '';border: 5px solid var(--color-white);border-color: var(--color-primary) transparent var(--color-primary) transparent;width: 80px;height: 80px;margin: 1px;border-radius: 50%;display: block;animation: loading 1.2s linear infinite;}
.preloader.small .preloading {display: inline-block;width: 48px;height: 48px;}
.preloader.small .preloading:after {content: '';display: block;width: 48px;height: 48px;}
.preloader.top {align-items: flex-start;}
.preloader.top .preloading {margin-top: 80px;}
@keyframes loading {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}


/**************************************/
/*** Таблицы ***/
/**************************************/
.table-box {margin-bottom: 16px;width: 100%;background-color: var(--color-white);border-collapse: collapse;line-height: 18px;text-align: center;border-radius: 0;}
.table-box th, .table-box td {border: 1px solid var(--color-border);line-height: 18px;padding: 12px 10px;text-align: center;}
.table-box thead td, .table-box tfoot td {font-weight: bold;border: 1px solid var(--color-border);line-height: 18px;padding: 12px;text-align: center;}
.table-box tfoot td {font-weight: bold;white-space: nowrap;}
.table-box .cell1 {text-align: right;width: 50%;}
.table-box .cell2 {text-align: left;width: 50%;}
.table-box .hide {display: none;}
@media all and (max-width: 767px) {
.scroll {width: 100%;overflow-x: auto;margin-bottom: 16px;}
.scroll::-webkit-scrollbar {width: 0;height: 16px;}
}


/**************************************/
/*** Формализованный список ***/
/**************************************/
.form__list {width: 100%;}
.form__fields {margin-top: 16px;position: relative;}
.form__fields:first-child {margin-top: 0;}
.form__fields label {margin-bottom: 8px;display: block;cursor: pointer;}
.form__fields label em {display: none;}
.form__fields label.required em {display: inline-block;}
.form__field {position: relative;}
.form__pp {margin-top: 16px;font-size: 12px;line-height: 1.5;}
.form__pp [data-fancybox] {text-decoration: underline;display: inline;}
.form__pp [data-fancybox]:hover {text-decoration: none;cursor: pointer;}
.form__buttons {margin-top: 16px;}
.form__time {margin-left: 16px;}
.form__date {flex-grow: 1;}


/**************************************/
/*** Селекты ***/
/**************************************/
.selectBox {position: relative;}
.selectBox:after {content: '\e907';font-size: 16px;bottom: 12px;right: 8px;position: absolute;font-family: 'icomoon';pointer-events: none;}
.selectBox:hover:after {color: var(--color-primary);}
.selectBox select {padding: 0 28px 0 16px;text-overflow: ellipsis}
.selectBox select::-ms-expand {display: none;}


/**************************************/
/*** Навигация по страницам ***/
/**************************************/
.pages__item {margin: 0 8px;font-size: 16px;}
.pages__link {display: block;}
.pages__link-first, .pages__link-last {font-size: 24px;line-height: 1;width: 40px;height: 40px;line-height: 40px;text-align: center;}
.pages__link-current {font-weight: bold;}


/**************************************/
/*** Выпадающие объекты ***/
/**************************************/
/* .dropdown__content {margin-top: 16px;width: 400px;padding: 16px;background-color: var(--color-white);border: 1px solid var(--color-border);transform: scale(1,0);transform-origin: right top;transition: all 0.3s ease-in-out;right: 0;position: absolute;z-index: 11;}
.dropdown.is-opened .dropdown__content {display: block;}
@media all and (min-width: 1024px) {
	.dropdown .dropdown__open:before {content: '';right: 0;bottom: -16px;height: 32px;width: 100%;display: block;position: absolute;}
	.dropdown:hover .dropdown__content {transform: scale(1);}
} */


/**************************************/
/*** Выпадающий контент. Корзина, Сравнение, Избранное ***/
/**************************************/
/* .addto__title {margin-bottom: 24px;display: none;font-size: 18px;font-weight: bold;}
.addto__empty {font-size: 18px;font-weight: bold;}
.addto__items {max-height: 280px;overflow-y: auto;}
.addto__items::-webkit-scrollbar {width: 8px;}
.addto__item {position: relative;}
.addto__item + .addto__item {margin-top: 24px;}
.addto__image {width: 80px;height: 80px;}
.addto__content {width: calc(100% - 80px);padding-left: 16px;flex-grow: 1;}
.addto__name {margin-bottom: 10px;padding-right: 32px;max-height: 48px;line-height: 24px;overflow: hidden;display: block;}
.addto__name span {display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
.addto__mod {font-size: 12px;margin-bottom: 10px;}
.addto__qty {margin-right: 16px;}
.addto__qty .qty__select {width: 24px;height: 24px;line-height: 24px;border: 0;}
.addto__qty .qty__input {height: 24px;}
.addto__price {flex-direction: column;align-items: flex-start;}
.addto__price .price__now {margin-right: 8px;}
.addto__item .addto__remove {position: absolute;right: 4px;top: 0;}
.addto__total {margin: 16px 0;display: none;}
.addto__total-label {margin-right: 8px;}
.addto__buttons {margin-top: 16px;display: none;}
.has-items .addto__title {display: block;}
.has-items .addto__empty {display: none;}
.has-items .addto__buttons {display: flex;}
.has-items .addto__total {display: flex;}
.addto__login {width: 224px;} */


/**************************************/
/*** Модальные окна ***/
/**************************************/
.fancybox-container .fancybox-content {max-width: 800px;padding: 32px;}
.fancybox-content.modal {max-width: 384px;}
@media all and (max-width: 479px) {
	.fancybox-container .fancybox-content {padding: 16px;}
}


/**************************************/
/*** Страница: Ajax добавление товара в корзину ***/
/**************************************/
.noty_bar {margin: 0 0 4px 0;overflow: hidden;position: relative;box-shadow: none;}
.noty_has_progressbar .noty_progressbar {display: block;position: absolute;left: 0;bottom: 0;height: 4px;width: 100%;background-color: var(--color-black);opacity: 0.2;filter: alpha(opacity=20);}
.noty_type__success .noty_progressbar {background-color: var(--color-primary);opacity: 1;}
.noty_type__warning .noty_progressbar {background-color: var(--color-red);opacity: 1;}
.noty_type__warning .noty__title {color: var(--color-red);}
.noty_body {padding: 16px;border: 4px solid var(--color-border);background-color: var(--color-white);text-align: center;}
.noty__title {font-size: 18px;font-weight: bold;margin-bottom: 16px;width: 100%;}
.noty__message {display: block;line-height: 1.5;}
.noty__message a {font-weight: bold;}
.noty__buttons {margin-top: 16px;}
.noty__addto.flex {display: none;}
.noty__addto.flex:last-child {display: flex;}
.noty__image {width: 80px;height: 80px;}
.noty__content {width: calc(100% - 80px);text-align: center;flex-grow: 1;}
.noty__price {margin-top: 16px;}
.noty__buttons {width: 100%;}
@media all and (max-width: 479px) {
	#noty_layout__bottomRight {left: 16px;}
	.noty_body {padding: 16px;}
}


/**************************************/
/*** Страница: Ошибка ***/
/**************************************/
.error__msg {margin-top: 16px;}
.error__block + .error__block {margin-top: 16px;}


/**************************************/
/*** Страница: Обратная связь ***/
/**************************************/
.page-feedback .maps {margin-top: 32px;width: 100%;}
.page-feedback .contacts__block {margin-bottom: 24px;}


/**************************************/
/*** Страница: ЛК ***/
/**************************************/
.client__blocks + .client__blocks {margin-top: 32px;}
.client__block {width: calc(50% - 32px);margin: 0 16px;flex-grow: 1;}
.client__block:nth-child(n+3) {margin-top: 32px;}
.client__title {margin-bottom: 24px;}
.client__buttons [class*="button-"] {margin: 16px 16px 0 0;}
.client__buttons [class*="button-"]:last-child {margin-right: 0;}
@media all and (max-width: 767px) {
	.client__block {width: 100%;}
	.client__block + .client__block {margin-top: 32px;}
}
@media all and (max-width: 374px) {
	.client__buttons [class*="button-"] {margin: 16px 0 0 0;width: 100%;}
}


/**************************************/
/*** Показать пароль ***/
/**************************************/
.password {position: relative;}
.password__icon {position: absolute;bottom: 8px;right: 8px;cursor: pointer;z-index: 2;}
.password__icon:before {content: '\e911';font-size: 24px;font-family: 'icomoon';vertical-align: middle;}
.password__icon.is-actived:before {content: '\e912';}
.password__input {padding-right: 40px;}

/*** Капслок ***/
#capslock {margin-top: 16px;display: none;}
.capslock__icon i {margin-right: 8px;font-size: 24px;color: var(--color-red);}
.capslock__text {margin-top: 8px;}



/**************************************/
/*** Иконки форматов файлов ***/
/**************************************/
.file_extension_icon {width: 16px;height: 16px;display: inline-block;margin-right: 10px;background: var(--color-white) url('{ASSETS_IMAGES_PATH}icons-files-extensions.gif?design=THEMENAME') no-repeat left top;}
.file_extension_icon.torrent {background-position: -16px 0}
.file_extension_icon.xls {background-position: -32px 0}
.file_extension_icon.ie7 {background-position: -48px 0}
.file_extension_icon.ppt {background-position: -64px 0}
.file_extension_icon.htm, .file_extension_icon.html {background-position: 0 -16px}
.file_extension_icon.avi {background-position: -16px -16px}
.file_extension_icon.bmp, .file_extension_icon.gif {background-position: -32px -16px}
.file_extension_icon.js, .file_extension_icon.css, .file_extension_icon.txt {background-position: -48px -16px}
.file_extension_icon.pptm {background-position: -64px -16px}
.file_extension_icon.rtf, .file_extension_icon.doc {background-position: 0 -32px}
.file_extension_icon.jpg {background-position: -16px -32px}
.file_extension_icon.png {background-position: -32px -32px}
.file_extension_icon.ini {background-position: -48px -32px}
.file_extension_icon.pptx {background-position: -64px -32px}
.file_extension_icon.php {background-position: 0 -48px}
.file_extension_icon.mht, .file_extension_icon.mhtml {background-position: -16px -48px}
.file_extension_icon.psd {background-position: -32px -48px}
.file_extension_icon.zip {background-position: -48px -48px}
.file_extension_icon.xps {background-position: -64px -48px}
.file_extension_icon.exe {background-position: 0 -64px}
.file_extension_icon.xml {background-position: -16px -64px}
.file_extension_icon.wma, .file_extension_icon.mp3 {background-position: -32px -64px}
.file_extension_icon.xlsx {background-position: -48px -64px}
.file_extension_icon.xlsb {background-position: -64px -64px}
.file_extension_icon.pdf {background-position: 0 -80px}
.file_extension_icon.csv {background-position: -16px -80px}
.file_extension_icon.docx {background-position: -32px -80px}
.file_extension_icon.accdb {background-position: -48px -80px}
.file_extension_icon.xlsm {background-position: -64px -80px}
.file_extension_icon.dll {background-position: 0 -96px}


/**************************************/
/*** Адаптивность ***/
/**************************************/
@media all and (min-width: 320px) {
  .container {min-width: 320px;}
}

@media all and (min-width: 480px) {
  .container {min-width: 480px;}
}

@media all and (min-width: 768px) {
  .container {width: 768px;}
}

@media all and (min-width: 1024px) {
  .container {width: 1024px;}
}

@media all and (min-width: 1200px) {
  .container {width: 1200px;}
}

@media all and (max-width: 1199px) {
}

@media all and (max-width: 1023px) {
}

@media all and (max-width: 767px) {
}

@media all and (max-width: 639px) {
}

@media all and (max-width: 479px) {
}

@media all and (max-width: 374px) {
}